

<div id="primary" class="seo_page">
    <div id="content" role="main">

              
  <article id="post-109" class="post-109 page type-page status-publish hentry">
    <header class="entry-header">
      <h1 class="entry-title">Bitcoin Getting Ready to Pop</h1>
    </header>

    <div class="entry-content">
      <p>I have seen this pattern several times in the past. There is a &#8220;wall&#8221; at a certain price, and once that price is reached the market quickly moves up 5 or 10 points.</p>
<p>Currently, the wall has come down quite a bit. Currently it is about $400,000 high.</p>
<p>Also, the buy orders on the left are much greater and steeper than the sell orders or the right.</p>
<p><img class="alignnone size-full wp-image-110" alt="Bitcoin is getting ready to pop" src="http://www.getcoinhost.com/wp-content/uploads/2013/03/bitcoin-is-getting-ready-to-pop-at-80.png" width="1021" height="724" /></p>
          </div><!-- .entry-content -->
    <footer class="entry-meta">
          </footer><!-- .entry-meta -->
  </article><!-- #post -->
        
<div id="comments" class="comments-area">

  
  
                  
</div><!-- #comments .comments-area -->      
    </div><!-- #content -->
  </div><!-- #primary -->

<p>
  <a href="http://www.getcoinhost.com">
    <img style="border:1px solid #ccc" src="http://www.getcoinhost.com/images/static/advertising/banner_1024.png">
  </a>
</p>
