<h2>Looking to purchase Web Hosting with Bitcoin?</h1>
We offer Hosting for just <em><strong>0.1 Bitcoin per month</strong>.</em>
<p style="margin-bottom: 0px;">You get:</p>

<ul>
  <li><span style="line-height: 14px;">Free Domain</span></li>
  <li><span style="line-height: 14px;">1 GB Storage</span></li>
  <li>200 MB/month Bandwidth</li>
  <li>5 FTP Accounts</li>
  <li>5 Email Lists</li>
  <li>5 Databases</li>
  <li>5 Subdomains</li>
  <li>CGI Script Access</li>
  <li>CPanel Control Panel</li>
  <li>1 Click Install Scripts: WordPress, Joomla, Drupal and more</li>
</ul>
<a href="/get_started">Get Started Now</a>
