<div id='process_order'>
  <h1>Your Order is Being Processed</h1>
 
    Your order ID # is <%= @order.id %>.<br /> 

    You will be notified at <%= @order.email %> as soon as your hosting account is ready.<br /> 

    If you have any questions, please contact george@getcoinhost.com.<br /> 

    If you have not already done so, please send payment to <%= @payment_address %><br /><br />

    <a href='/'>Continue</a>
  </div>
